# Example run overwriting default vars
#JENKINS_PORT=8081 JENKINSAPI_PORT=5000 NGINX_PORT=8082 METAPOD_TAG=latest JENKINS_VERSION=latest METAPOD_IMAGE=metapod CONTAINER_NAME_BASE=metapod docker-compose up

version: '3.5'
services:
  jenkins:
    image: ${METAPOD_IMAGE}_jenkins:${METAPOD_TAG}
    container_name: ${CONTAINER_NAME_BASE}_jenkins
    hostname: "jenkins"
    build:
      context: ./jenkins
      ### This line for debug
      #dockerfile: Dockerfilevolume
      args:
        JENKINS_VERSION: ${JENKINS_VERSION}
    ports:
      - ${JENKINS_PORT}:8080
    volumes:
      - metapod:/var/jenkins_home/data/reports
      ## This line for debug
      #- /Users/ts-ari.lopez/projects/jenkins_volume:/var/jenkins_home
    networks:
      - metapod
  jenkinsapi:
    image: ${METAPOD_IMAGE}_jenkinsapi:${METAPOD_TAG}
    container_name: ${CONTAINER_NAME_BASE}_jenkinsapi
    hostname: "jenkinsapi"
    build: ./python
    ports:
      - ${JENKINSAPI_PORT}:5000
    command: 'python jenkinsapi/jenkins_api.py'
    networks:
      - metapod
    depends_on:
          - jenkins
  nginx:
    image: ${METAPOD_IMAGE}_nginx:${METAPOD_TAG}
    container_name: ${CONTAINER_NAME_BASE}_nginx
    hostname: "nginx"
    build: ./nginx
    ports:
      - ${NGINX_PORT}:80
    volumes:
     - metapod:/usr/share/nginx/reports

networks:
  metapod:
    driver: bridge

volumes:
  metapod:
